<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <th:block th:fragment="challengePanel(challenge)" >
            <div class="chal-photo-main-page"> 
                <img class="img-rounded" th:src="${challenge.getImages().get(0)}" alt=""/> 
            </div>
            <div class="chal-body">
                <form name="submitForm" th:id="'challenge_form'+${challenge.Id}"  method="GET" action="challenge/information">
                    <input type="hidden" name="id" th:value="${challenge.getId()}"/>
                    <h2 class="chal-title"><a  th:onclick="'document.getElementById(\'challenge_form'+${challenge.getId()}+'\').submit();'" th:text="${challenge.getName()}"></a></h2>
                </form>
                <span class="chal-meta" th:text="${#dates.format(challenge.date, 'yyyy/MM/dd HH:mm')}"></span>
                <h4 class="desc" th:text="${challenge.getDescription()}"></h4>
            </div>
        </th:block>
    </body>
</html>
