<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>ChallengeImagesModal</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <!--modal for challenge's images-->
        <div th:fragment="challengeimagesmodal" id="modal-challenge-images" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- modal content-->                                     
                <div class="modal-content modal_top_padding">
                    <div class="modal-header">
                        <input type="button" class="btn btn-default" th:value="#{uploadImageButton}" id="upload-file-btn" style="cursor:pointer;" />
                        <input type="file" name="pic" accept="image/*" id="input-file" style="display: none;"/>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" style="width: 598px;">
                        <h4 class="modal-title" th:text="#{listOfImagesTitle}"></h4>
                        <div class="container-fluid dynamicTile">
                            <div class="row">
                                <div th:each="image: ${challenge.getImageEntities()}" class="col-sm-4 col-xs-8" style="margin-bottom: 5px;">
                                    <div class="tile" style="height: 160px; overflow: hidden;">
                                        <div style="display: inline-block; height: 100%; vertical-align: middle;"></div>
                                        <input type="hidden" name="image-id" th:value="${image.getId()}"/>
                                        <img name="image-link" th:src="${image.getBase64()}" alt="" style="cursor: pointer; vertical-align: middle; width: 97%;"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" 
                               th:value="#{closeButton}"/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
