<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

    <!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div th:fragment="rate" class="rate-blockP">
            <div  class="rate-iconP">                
                <h2> <span style="text-align: center; font-size: 25" class="glyphicon glyphicon-thumbs-up"></span>
                </h2>
            </div>
            <div class="rate-iconP" style="align-self: flex-end;">          
                <h2> <span style="text-align: center; font-size: 25" class="glyphicon glyphicon-thumbs-down"></span>
                </h2>         
            </div>
        </div>x
    </body>
</html>
