<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

    <body>
        <div th:fragment="userInfo">
            <!-- Replace navbar-default with navbar-inverse to get a black header -->
            <nav class=" navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Challenge</a>
                    </div>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse "> 
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#" th:text="#{menuBest}"><span class="sr-only">(current)</span></a></li>                   
                            <li> <a href="#" th:text="#{menuExtreme}"/></li>
                            <li> <a href="#" th:text="#{menuOvercoming}"/></li>
                        </ul> 
                        <ul> 
                            <li>
                                <form style="margin-top: 13px" th:unless="${currentUserConnection == null}" class="navbar-right" method="POST" th:action="@{../logout}">
                                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                                    <button class="btn btn-default"><span class="glyphicon glyphicon-log-out"></span><a/></button>
                                </form>
                                <form style="margin-top: 13px" th:unless="${currentUserConnection == null}" class="navbar-right" name="profileForm" th:id="'profile'"  method="GET" action="../profile">
                                    <input type="hidden" name="id" th:value="${currentUserProfile.getUserEntityId()}"/>
                                    <button class="btn btn-default" onclick="document.getElementById('profile').submit();"  ><span class="glyphicon glyphicon-user"></span><a /></button>
                                </form>
                                <p th:unless="${currentUserConnection == null}" class="navbar-text navbar-right">
                                    <a th:text="#{signedInText}"/>
                                    <a th:if="${currentUserConnection.providerId == 'facebook'}" class="ml btn btn-social-icon btn-sm btn-facebook">   <i class="fa fa-facebook"></i></a>
                                    <a th:if="${currentUserConnection.providerId == 'twitter'}"  class="ml btn btn-social-icon btn-sm btn-twitter">    <i class="fa fa-twitter"></i></a>
                                    <a th:if="${currentUserConnection.providerId == 'github'}"   class="ml btn btn-social-icon btn-sm btn-github">     <i class="fa fa-github"></i></a>
                                    <a th:if="${currentUserConnection.providerId == 'vk'}"   class="ml btn btn-social-icon btn-sm btn-vk"><i class="fa fa-vk"></i></a>
                                    <a th:href="${currentUserConnection.profileUrl}" class="navbar-link"><span th:text="${currentUserDisplayName}"/></a>

                                    <img th:src="${currentUserConnection.imageUrl}" width="32" height="32" />
                                </p>
                                <div style="margin-top: 13px" th:unless="${currentUserConnection == null}" class="navbar-right">
                                    <button  id="notification">
                                        <span class="glyphicon glyphicon-comment"></span>
                                    </button>
                                    <span th:if="${challengeRequests.size() > 0}" class="badge badge-notify" th:text="${challengeRequests.size()}"></span>              
                                    <div id="chal-notification">
                                        <div th:each="challenge : ${challengeRequests}" class="chal-notification-wrap">
                                            <div>
                                                <span class="chal-meta" th:text="${challenge.getMessage()}" style="color: black;"></span>
                                                <span class="chal-meta" th:text="${challenge.getName()}"></span>                                                
                                                <form name="submitForm" th:id="'accept_form'+${challenge.Id}"  method="GET" action="/accept" style="display: inline-block;">
                                                    <input type="hidden" name="id" th:value="${challenge.getId()}"/>
                                                    <input type="submit" class="btn btn-success" th:value="#{acceptChalButton}"/>
                                                </form>
                                                <form name="submitForm" th:id="'decline_form'+${challenge.Id}"  method="GET" action="/decline" style="display: inline-block;">
                                                    <input type="hidden" name="id" th:value="${challenge.getId()}"/>
                                                    <input type="submit" class="btn btn-danger" th:value="#{declineChalButton}"/>
                                                </form>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </li>
                        </ul>  

                    </div>              


                </div>
            </nav>
        </div>

    </body>
</html>

