/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    height:100%;
    width: 100%; 
    overflow: auto;
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.custom-modal-content {
    max-width: 350px;
    min-width: 230px;
    border-radius: 7px;
    border: 2px solid #5cb85c;
    position: fixed;
    right:10px;
    bottom: 50px;
    background-color: #fefefe;
    width: 40%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}


.custom-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.custom-close:hover,
.custom-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.custom-modal-header {

    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.custom-modal-body {padding: 2px 16px;}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 50px; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 50px; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}