<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Challenge</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="../css/pageLoader.css"/>
        <script src="../js/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-social.css" />
        <link rel="stylesheet" href="../css/font-awesome.css"/>
        <link rel="stylesheet" href="../css/chalStyle.css"/>
        <link rel="stylesheet" href="../css/style.css"/>
        <style type="text/css">
            <!--
            .ml { width: 110px; color: white; text-decoration: none }
            .ml:hover, a:focus { color: white; text-decoration: none }
            -->
        </style>

    </head>

    <body>
        <div th:replace="fragments/header :: userInfo"/>
        <div class="content-wrapper">
            <div class="inner-container container">
                <div style="margin-top: 100px; " class="row">
                    <div class="section-header col-md-12">
                        <h2 th:text="${challenge.getName()}"></h2>
                    </div> 
                </div> 
                <div class="row">
                    <div class="chal-photo col-md-6">
                        <img class="img-responsive img-rounded" th:src="${challenge.getImageRef()}"/>
                    </div> 
                    <div class="box-content">
                        <h3 th:text="${#dates.format(challenge.getDate(), 'dd/MM/yyyy HH:mm')}"></h3>
                        <h3  th:text="${challenge.getDescription()}"></h3>
                    </div>
                </div>
                <h2 th:text="#{creatorLabelShow}">Creator</h2>
                <div>
                    <span class="chal-meta" th:text="${challenge.getCreator().getName()}"></span>
                </div>
                <h2 th:text="#{acceptorsLabelShow}">Acceptors</h2>
                <div th:each="acceptor : ${listOfAcceptors}" >
                    <div  class="challenge col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div style="border-width: 5" class="panel panel-default">
                            <div class="box-content panel-body ">                                  
                                <div class="chal-body">
                                    <div >
                                        <img th:src="${currentUserConnection.imageUrl}" class="img-rounded img-responsive" />
                                    </div>
                                    <span class="chal-meta" th:text="${acceptor.getName()}"></span>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="comment-heading">Comments Count</h2>
                        <div class="box-content">
                            <div class="comment">
                                <div class="comment-inner">
                                    <div class="comment-body">
                                        <h4>Sergei Kovalenko</h4> 
                                        <span>20 11 2016</span>
                                        <h4>Incredibly Cool!!!</h4 >
                                    </div>
                                </div>
                            </div> 
                            <div class="comment">
                                <div class="comment-inner">
                                    <div class="comment-body">
                                        <h4>Sergei Zayaikin</h4>
                                        <span>20 11 2016</span>
                                        <h4>Wow!</h4>
                                    </div>
                                </div>
                            </div> 
                        </div> 
                    </div> 
                </div>  
            </div> 
        </div>
        <script src="../js/showNewChallenges.js"></script>
    </body>
</html>


