<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Challenge</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="js/jquery.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />

        <script src="../js/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-social.css" />
        <link rel="stylesheet" href="../css/font-awesome.css"/>
        <link rel="stylesheet" href="../css/chalStyle.css"/>
        <style type="text/css">
            <!--
            .ml { width: 110px; color: white; text-decoration: none }
            .ml:hover, a:focus { color: white; text-decoration: none }
            -->
        </style>

    </head>

    <body>
        <div th:replace="fragments/header :: userInfo"/>
        <div class="content-wrapper">
            <div class="inner-container container">
                <form  action="information" th:object="${challenge}" method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

                    <div style="margin-top: 100px; " class="row">
                        <div class="section-header col-md-12">
                        </div> 
                    </div> 
                    <div class="row">

                        <div th:switch="*{id}"> 
                            <h1 th:case="null">Adding challenge</h1>
                            <h1 th:case="*">Updating challenge</h1> 
                        </div>
                        <div class="chal-photo col-md-12">
                            <input type="hidden" th:field="*{id}" />
                            <label class="col-md-2 control-label">Title</label>
                            <div class="chal-photo col-md-10">
                                <input maxlength="" class="form-control" type="text" placeholder="Challenge title..."  th:field="*{name}" />
                            </div>
                            <label class="col-md-2 control-label">Description</label>
                            <div class="chal-photo col-md-10">
                                <h4><textarea maxlength="254" class="form-control"  cols="40" rows="5" placeholder="Challenge description..."  th:field="*{description}" /></h4>
                            </div>
                            <label class="col-md-2 control-label">ImageHref</label>
                            <div class="chal-photo col-md-10"> 
                                <input class="form-control" type="text" placeholder="Your image url" th:field="*{imageRef}" />
                            </div>
                            <div class="chal-photo col-md-12"> 
                                <span/>
                            </div>
                            <label class="col-md-2 control-label">EndDate</label>
                            <div class="chal-photo col-md-10">  
                                <input class="form-control" type="text" pattern="^\d\d\d\d\/(0?[1-9]|1[0-2])\/(0?[1-9]|[12][0-9]|3[01]) (00|0[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9])$" th:field="*{date}"/>
                            </div>    
                        </div> 
                        <div th:switch="*{id}"> 
                            <input th:case="null" class="btn btn-default text-center" type="submit" name="k" value="Create"/>
                            <input th:case="*" class="btn btn-default text-center" type="submit" name="k" value="Update"/>
                        </div>
                    </div>
                </form>             
            </div> 
        </div>
    </body>
</html>


