<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <head>
        <title>Profile</title>
        <link th:replace="fragments/commonDependencies :: commonDependencies" th:remove="tag"/>
        <script src="../js/jquery.min.js"></script>
        <link rel="stylesheet" href="../css/pageLoader.css" />
        <link rel="stylesheet" href="../css/style.css" />
    </head>
    <body>
        <div th:replace="fragments/header::userInfo" />
        <div class="container" style="margin-top: 100px;">
            <div style="height: 80%;" class="chalList masonry-true">
                <div th:each="elSomething : ${listSomething}" class="listElem">
                    <div style="border-width: 5" class="panel panel-default">
                        <div class="box-content panel-body ">
                            <div class="chal-photo-main-page">
                                <img class="img-rounded" th:src="${elSomething.getMainImage()}" alt=""/>
                            </div>
                            <div class="chal-body">
                                <form name="submitForm"
                                      th:id="'something_form'+${elSomething.Id}" method="GET"
                                      th:action="${handler}">
                                    <input type="hidden" name="id"
                                           th:value="${elSomething.getId()}" /> <input type="hidden"
                                           name="idParent" th:value="${idParent}" />
                                    <h2 class="chal-title">
                                        <a  th:onclick="'document.getElementById(\'something_form'+${elSomething.getId()}+'\').submit();'"
                                            th:text="${elSomething.getName()}"></a>
                                    </h2>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:replace="fragments/commonDependencies :: commonJS" th:remove="tag"/>
        <script src="js/csslayoutextenders/listLayout.js"></script>
        <script src="js/responsiveLayout/plugins.js"></script>
        <script src="js/responsiveLayout/chalAnimating.js"></script>
    </body>
</html>

