<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>Main</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="fragments/commonDependencies :: commonDependencies" th:remove="tag"/>
        <link rel="stylesheet" href="css/pageLoader.css"/>
        <link rel="stylesheet" href="../css/style.css" />
        <script src="js/jquery.min.js"></script>
        

        
        
    </head>

    <body>
   
            
        <div th:replace="fragments/header::userInfo"/>

        <div th:replace="fragments/util/loader::loader"/>

        <div class="container bootstrap snippets">
        </div>
        <div class="content-wrapper">
            <div class="inner-container container" >
                <div style="height:80%;" class="chalList masonry-true">
                    <div style=" margin-top: 100px; " class="row">
                        <div class="main-challenge">
                            <div style="border-width: 5;" class="panel panel-danger">
                                <div class="box-content panel-body">
                                    <div class="main-challenge-photo"> 
                                        <img class="img-rounded" th:src="${mainChallenge.getMainImageEntity().getBase64()}"  alt=""></img> 
                                    </div>
                                    <div class="main-challenge-body">
                                        <form name="submitForm" id="challenge_form" method="GET" action="challenge/information">
                                            <input type="hidden" name="id" th:value="${mainChallenge.getId()}"/>
                                            <h2 class="chal-title" ><a onclick="document.getElementById('challenge_form').submit();"  th:text="${mainChallenge.getName()}"></a></h2>
                                        </form>
                                        <span class="chal-meta" th:text="${#dates.format(mainChallenge.date, 'dd/MM/yyyy HH:mm')}"></span>
                                        <h4  class="cut-text ellipsis desc" th:text="${mainChallenge.getDescription()}"></h4>
                                    </div>
                                </div> 
                            </div> 
                        </div>
                    </div>
                    <div th:each="challenge : ${challenges}" class="list-challenge" >
                        <div th:replace="fragments/modelElementsViews/challenge::challenge(challenge=${challenge})"/>
                    </div>
                </div>
            </div>
        </div> 

        <script th:replace="fragments/commonDependencies :: commonJS" th:remove="tag"/>
        <script src="js/csslayoutextenders/mainPageLayout.js"></script>
        <script src="js/responsiveLayout/plugins.js"></script>
        <script src="js/responsiveLayout/chalAnimating.js"></script>
    </body>
</html>

