<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>Main</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="fragments/commonDependencies :: commonDependencies" th:remove="tag"/>
        <link rel="stylesheet" href="../css/pageLoader.css"/>
        <link rel="stylesheet" href="../css/footer.css" />
        <script src="../js/jquery.min.js"></script>      
    </head>
    <body>
        <div th:replace="fragments/header::userInfo"/>
        <div th:replace="fragments/util/loader::loader"/>
        <div class="container bootstrap snippets">
        </div>
        <div class="content-wrapper">
            <div style="margin-top: 100px;" class="inner-container container" >
                <th:block th:unless="${tag.isEmpty()}">
                    <h2 style="display: inline-block;" th:text="#{searchByTagTitle}"/>
                    <span class="label label-default tag-link" style="font-size: 16px;" th:text="${tag}"/>
                </th:block>
                <div style="height:80%;" class="chalList masonry-true">
                    <div style="" class="row">
                        <div class="main-challenge" th:unless="${mainChallenge == null}">
                            <div style="border-width: 5;" class="panel panel-danger">
                                <div class="box-content panel-body">
                                    <div class="main-challenge-photo"> 
                                        <img class="img-rounded" th:src="${mainChallenge.getMainImageEntity().getBase64()}"  alt=""></img> 
                                    </div>
                                    <div class="main-challenge-body">
                                        <form name="submitForm" id="challenge_form" method="GET" action="/challenge/information">
                                            <input type="hidden" name="id" th:value="${mainChallenge.getId()}"/>
                                            <h2 style="margin-bottom:0px;" class="chal-title" ><a onclick="document.getElementById('challenge_form').submit();"  th:text="${mainChallenge.getName()}"></a></h2>
                                        </form>                                        
                                        <form th:each="tag : ${mainChallenge.getTags()}" action="/tags/find" style="display: inline-block">
                                            <span class="label label-default tag-link" 
                                                  style="font-size: 14px" th:text="${tag.getName()}"
                                                  onclick="this.parentNode.submit()"/>
                                            <input type="hidden" th:value="${tag.getId()}" name="id"/>
                                        </form>
                                        <br/>
                                        <span class="chal-meta" th:text="${#dates.format(mainChallenge.date, 'dd/MM/yyyy HH:mm')}"></span>
                                        <h4 style="margin-top:0px;" class="cut-text ellipsis desc" th:text="${mainChallenge.getDescription()}"></h4>
                                    </div>
                                </div> 
                            </div> 
                        </div>
                    </div>
                    <div th:each="challenge : ${challenges}" class="list-challenge" >
                        <div th:replace="fragments/modelElementsViews/challenge::challenge(challenge=${challenge})"/>
                    </div>
                </div>
            </div>
        </div> 

        <div th:replace="fragments/customModal::modalBody"/>
        <script th:replace="fragments/commonDependencies :: commonJS" th:remove="tag"/>
        <script src="../js/csslayoutextenders/mainPageLayout.js"></script>
        <script src="../js/responsiveLayout/plugins.js"></script>
        <script src="../js/responsiveLayout/chalAnimating.js"></script>
        <div th:replace="fragments/footer::footer"/>
    </body>
</html>

