<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>Main</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />

        <script src="js/jquery.min.js"></script>
        <link rel="stylesheet" href="css/pageLoader.css"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap-social.css" />
        <link rel="stylesheet" href="css/font-awesome.css"/>
        <link rel="stylesheet" href="css/chalStyle.css"/>

        <style type="text/css">
            <!--
            .ml { width: 110px; color: white; text-decoration: none }
            .ml:hover, a:focus { color: white; text-decoration: none }
            -->
        </style>

    </head>

    <body>        
        <script>
<!-- PageLoader script -->
            jQuery(window).load(function () {
                $(".loader").delay(300).fadeOut("slow");
            });</script>

        <div th:replace="fragments/header::userInfo"/>

        <div class="loader">
            <div class="loader-centered">
                <div class="square first"></div>
                <div class="square1 second"></div>
                <div class="square2 third"></div>
            </div>
        </div>
        <div class="container bootstrap snippets">
        </div>
        <div class="content-wrapper">
            <div class="inner-container container" >
                <div style="height:80%;" class="chalList masonry-true">
                    <div style=" margin-top: 100px; " class="row">
                        <div  class="challenge col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div style="border-width: 5;" class="panel panel-danger">
                                <div class="box-content panel-body">
                                    <div class="chal-photo col-md-8 col-sm-12 col-xs-12 "> 
                                        <img class="img-rounded" th:src="${mainChallenge.imageURL}"  alt=""></img> 
                                    </div>
                                    <div class="chal-body col-md-4 col-sm-12 col-xs-12">
                                        <form name="submitForm" id="challenge_form" method="GET" action="information">
                                            <input type="hidden" name="id" th:value="${mainChallenge.getId()}"/>
                                            <h2 class="chal-title" ><a onclick="document.getElementById('challenge_form').submit();"  th:text="${mainChallenge.getTitle()}"></a></h2>
                                        </form>
                                        <span class="chal-meta" th:text="${mainChallenge.getDate()}"></span>
                                        <h4 class="desc" th:text="${mainChallenge.getShortDescription()}"></h4>
                                    </div>
                                </div> 
                            </div> 
                        </div>

                    </div>
                    <div th:each="challenge : ${Challenges}" >
                        <div  class="challenge col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div style="border-width: 5" class="panel panel-default">
                                <div class="box-content panel-body ">
                                    <div class="chal-photo-main-page"> 
                                        <img class="img-rounded" th:src="${challenge.getImageURL()}" alt=""/> 
                                    </div>
                                    <div class="chal-body">
                                        <form name="submitForm" th:id="'challenge_form'+${challenge.Id}"  method="GET" action="information">
                                            <input type="hidden" name="id" th:value="${challenge.getId()}"/>
                                            <h2 class="chal-title"><a  th:onclick="'document.getElementById(\'challenge_form'+${challenge.getId()}+'\').submit();'" th:text="${challenge.getTitle()}"></a></h2>
                                        </form>
                                        <span class="chal-meta" th:text="${challenge.getDate()}"></span>
                                        <h4 class="desc" th:text="${challenge.getShortDescription()}"></h4>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <script src="js/bootstrap.min.js"></script>
        <script src="js/responsiveLayout/plugins.js"></script>
        <script src="js/responsiveLayout/chalAnimating.js"></script>
        <script src="js/uloginCallback.js"></script>
        <script src="//ulogin.ru/js/ulogin.js"></script>
    </body>
</html>

