<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title th:text="#{profilePageTitle}"></title>
        <script src="js/jquery.min.js"></script>  
        <link th:replace="fragments/commonDependencies :: commonDependencies" th:remove="tag"/>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/pageLoader.css" />
    </head>
    <body>
        <div th:replace="fragments/header::userInfo" />
        <div th:replace="fragments/util/loader::loader"/>
        <div class="container" style="margin-top: 100px;">
            <div class="page-header">
                <h1 th:text="${userProfile.getName()}+' ('+${userProfile.getRating()}+')'" style='display: inline-block;'/>   
                <form auth:can="EDIT_PROFILE" method="GET" action="profile/edit" style='display: inline-block; margin-left: 20px;'>
                    <input type="hidden" th:value="${userProfile.getId()}" name="id"/>
                    <a onclick='this.parentNode.submit();' th:title="#{editProfileHint}">
                        <span class="glyphicon glyphicon-pencil" style="font-size: 30px;" />
                    </a>
                </form>
                <form auth:can="CREATE_CHALLENGE" 
                      class="navbar-right" name="newCallenge" th:id="newChallenge"
                      method="GET" action="challenge/new">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" /> 
                    <input class="btn btn-default text-center" type="submit" name="submit3"
                           th:value="#{createNewChallengeFromProfileButton}" />
                </form>
            </div>
            <div class="row">
                <!-- left side -->
                <div class="avatar">

                    <script th:unless="${#httpServletRequest.getParameter('social_addConnection_duplicate') == null}">
                        // после полной загрузки страницы
                        $(window).load(function () {
                            // вызываем метод setInterval, который будет вызывать модальное окно каждые 5 минут, если оно не открыто
                            // Если окно не открыто (т.е. не имеет класс in)
                            if (!$("#myModal").hasClass("in")) {
                                // то открыть модальное окно 
                                $("#myModal").modal('show');
                            }
                        });
                    </script>

                    <div   id="myModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                                    <h4 class="modal-title"  th:text="#{duplicateSNHeader}"/>
                                </div>
                                <div class="modal-body" th:text="#{duplicateSNMessage}" ></div>
                                <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal" th:text="#{duplicateSNClock}" >Закрыть</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="avatar-image">
                        <img th:src="${userProfile.getMainImageEntity().getBase64()}" class="text-center img-rounded img-responsive" />
                    </div>
                    <div th:replace="fragments/util/rate::rate" />
                    <form style="" action="#" method="get">
                        <input class="underAvatarButton" type="submit" th:value="#{profileFollowersButton}"  />
                    </form>
                    <form name="submitForm" th:id="'throw_challenge_form'" method="GET" action="friends">
                        <input type="hidden" id="user-id" name="id" th:value="${userProfile.getId()}" />
                        <input class="underAvatarButton" type="submit" th:value="#{profileFriendsButton}" />
                    </form>
                    <!-- change currentUserId to profile user -->
                    <input type="hidden" name="id" th:value="${userProfile.getId()}" />
                    <input auth:can="THROW_CHALLENGE_FOR_USER"
                           name="throw" type="submit" data-target="#modal-challenges" 
                           data-toggle="modal" class="btn btn-default text-center" th:value="#{profileThrowChallengeButton}" />
                    <form auth:can="ADD_FRIEND" method="GET" action="/addFriend">
                        <input type="hidden" name="id" th:value="${userProfile.getId()}" />
                        <input type="submit" class="btn btn-default" th:value="#{addFriendButton}" />
                    </form>
                    <form  method="GET" th:action="@{../changelang}">
                        <button name="lang" type="submit" th:value="en" class="lang-button">Eng</button>
                        <button  name="lang" type="submit" th:value="ru" class="lang-button">Ru</button>
                    </form>
                    <div th:replace="fragments/util/bind::bindedSocialNetworks" th:remove="tag"/>                 
                </div>
                <!-- right side -->
                <div class="col-md-8 col-sm-6 col-xs-12">

                    <!--tabs-->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#accepted-chals" th:text="#{listOfAcceptedChalsTitle}"></a>
                        </li>
                        <li auth:can="WATCH_UNACCEPTED_CHALLENGES">
                            <a data-toggle="tab" href="#unaccepted-chals" th:text="#{listOfUnacceptedChalsTitle}"></a>
                            <span th:if="${challengeRequests.size() > 0}" 
                                  class="badge badge-notify" th:text="${challengeRequests.size()}"
                                  style="top: -45px; left: 90%;"></span>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#created-chals" th:text="#{listOfCreatedChalsTitle}"></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#subscripted-chals" th:text="#{listOfSubscriptionChalsTitle}"></a>
                        </li>
                    </ul>

                    <section id="created-chals" class="col-md-12 tab-content hide">
                        <div class="text-center col-md-12">
                            <h2 th:text="#{listOfCreatedChalsTitle}"></h2>
                            <div th:each="challenge : ${listOfDefined}" class="elementOfListInProfile">
                                <div th:replace="fragments/challengeViews/createdChallenge::createdChallenge(challenge=${challenge})" th:remove="tag"/>
                            </div>
                        </div>
                        <h4 th:if="${listOfDefined.size() == 0}" th:text="#{noCreatedChallengesMsg}"></h4>
                    </section>

                    <section id="unaccepted-chals" class="col-md-12 tab-content hide">
                        <div class="text-center col-md-12">
                            <h2 th:text="#{listOfUnacceptedChalsTitle}"></h2>
                            <div th:each="challenge : ${challengeRequests}" class="elementOfListInProfile">
                                <span class="chal-meta" th:text="${challenge.getMessage()}" style="color: red; font-size: 18px;"/>
                                <div th:replace="fragments/challengeViews/acceptedChallenge::acceptedChallenge(challenge=${challenge})" th:remove="tag"/>
                            </div>
                        </div>
                        <h4 th:if="${challengeRequests.size() == 0}" th:text="#{noNewChallengesMsg}"></h4>
                    </section>

                    <section id="accepted-chals" class="col-md-12 tab-content active">
                        <div class="text-center col-md-12">
                            <h2 th:text="#{listOfAcceptedChalsTitle}"></h2>
                            <div th:each="challenge : ${listOfAccepted}" class="elementOfListInProfile">
                                <div style="border-width: 5" class="panel panel-default">
                                    <div class="box-content panel-body ">
                                        <div th:replace="fragments/modelElementsViews/challengeImageAndBody :: challengePanel(${challenge})" th:remove="tag"  /> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 th:if="${listOfAccepted.size() == 0}" th:text="#{noAcceptedChallengesMsg}"></h4>
                    </section>

                    <section id="subscripted-chals" class="col-md-12 tab-content hide">
                        <div class="text-center col-md-12">
                            <h2 th:text="#{listOfSubscriptionChalsTitle}"></h2>
                            <div th:each="challenge : ${listOfSubscripted}" class="elementOfListInProfile">
                                <th:block th:unless="${isChalDef}">
                                    <h3 th:if="${challenge.getStatus() ==
                                        T(challenge.dbside.models.status.ChallengeStatus).PUT_TO_VOTE}"
                                        style="display: inline-block; float: right;">
                                        <span class="label label-info"
                                              th:text="#{putToVoteLabel}" />
                                    </h3>
                                    <h3 th:if="${challenge.getStatus() ==
                                        T(challenge.dbside.models.status.ChallengeStatus).COMPLETED}"
                                        style="display: inline-block; float: right;">
                                        <span class="label label-success"
                                              th:text="#{competedChallengeLabel}" />
                                    </h3>
                                    <h3 th:if="${challenge.getStatus() ==
                                        T(challenge.dbside.models.status.ChallengeStatus).FAILED}"
                                        style="display: inline-block; float: right;">
                                        <span class="label label-danger"
                                              th:text="#{failedChallengeLabel}" />
                                    </h3>
                                </th:block>
                                <div style="border-width: 5" class="panel panel-default">
                                    <div class="box-content panel-body ">
                                        <div th:replace="fragments/modelElementsViews/challengeImageAndBody :: challengePanel(${challenge})" th:remove="tag"  /> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 th:if="${listOfSubscripted.size() == 0}" th:text="#{noSubscriptedChallengesMsg}"></h4>
                    </section>
                </div>
            </div>
        </div>

        <!--modal for friends-->
        <div th:replace="fragments/modals/friendsmodal::friendsmodal" />
        <!--modal for challenges-->
        <div th:replace="fragments/modals/challengesmodal::challengesmodal" />

        <script th:replace="fragments/commonDependencies :: commonJS" th:remove="tag"/>
        <script src="js/csslayoutextenders/profileLayout.js"></script>
        <script src="js/csslayoutextenders/langSwitcherLayout.js"></script>
        <script src="js/throwsChallenges/show.js"></script>
        <script src="js/responsiveLayout/plugins.js"></script>
        <script src="js/responsiveLayout/chalAnimating.js"></script>
        <script src="js/ajaxSearch.js"></script>
    </body>
</html>

